<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="styles.css">

    <%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

</head>
<body>
    <main>
        <div class="information_">
    <h1>Welcome to <%= title %> Page</h1>
    <h3>Andres Paredes</h3>
    <div class="paragraphs">
        <img src="img\niagaraPic2.jpg" alt="About Me picture" height="300" width="600" style="padding-bottom: 20px;" style="text-align: center;">
    <p>
        I am international student from Venezuela, who arrived to Canada persuing for better opportunities for my studies.
        I have a family conformed by 6 six members and 1 beatiful dog. My father's name is Yefri, my mother's name is 
        Yraletty, and my brother's names are Jeffrey, Ricardo and Gabriel; lastly the name of my dog is Sascha, she is an
        Schnauzer of 10 years old.
    </p>
    <p>
        I decided to start this journey in the programming world at beginnings of the 2023. Currently I am taking my third semester of the 
        program, where I have had the opportunity to learn some of the key concepts of the engineering, and the programming world with a 
        main focus on languages such as C#, HTML and Java. Additionally, I have gained experience using agile methodologies such as Scrum
        meetings, kanbam boards which have help me to developed my skills in a collaborative way together with other developers.
    </p>
    </div>
    </div>
</main>
</body>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

     
      



   