<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <style type="text/css">
	

		

</style>

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
<body>	
	<main class="contactMain">
		<div>

    <h1>Welcome to <%= title %> Page</h1>
    <p>Please fill the following form if you any doubts, or any recommendation for us!</p>

	<div class="formContainer">
    <form action="mailto:aparede5@my.centennialcollege.ca" method="post">
		<legend><h3>Personal Information</h3></legend>
		<p>
			<label for="txtFirstName">First Name:</label>
			<input id="txtFirstName" name="txtFirstName" size="25"  type="text" required="required">
		</p>
		<p>
			<label for="txtLastName">Last Name:</label>
			<input id="txtLastName" name="txtLastName" size="25"  type="text" required="required">
		</p>
		<p>
		<label>Age: 
				 <input type = "number" min = "15"  max = "100" step = "1" /></label> (Enter your age please)
		</p>
		<p>
			<label for="txtEmail">Email:</label>
			<input id="txtEmail" name="txtEmail" size="30" type="email" placeholder="forexample@gmail.com" required="required">
		</p>
		<p>
			<label for="txtPhoneNumber">Phone Number:</label>
			<input id="txtPhoneNumber" name="txtPhoneNumber" size="25"  type="text" required="required">
		</p>
    &nbsp;
    
		<legend><h3>Any other commments</h3></legend>
			<p>
				<label for="txtOtherComms">Comments:</label> <br />
				<textarea id="txtOtherComts" cols="40" name="txtOtherComts" placeholder= "If you have any additional comments write them in this box" rows="5"></textarea>
			</p>
	
<div class="submit">
				<p>
			<input name="btnSubmit" type="submit" value="Complete Registration">

			<input name="btnReset" type="reset" value="Clear Form">
			</p>		
    </div>
</div>

	<div class="ContactBox">
		<p>
			Name: Andres Paredes <br>
			Student ID: 301297013 <br>
			Program: Software Engineering Technician <br>
			Email: <a href="aparede5@my.centennialcollege.ca" target="_blank">aparede5@my.centennialcollege.ca</a>	<br>
			Address: Scarborough, Ontario <br>
			WebPage: <a href="https://andresportfolio.onrender.com/" target="_blank">Portfolio Page</a> <br>
			GitHub Portfolio: <a href="https://github.com/aparedesp2003/AndresPortfolio" target="_blank">AndresPortfolio</a> <br>
			LinkedIn Profile: <a href="https://www.linkedin.com/in/andresparedesp/" target="_blank">andresparedesp</a> <br>
		</p>
	</div>
		</div>
</main>
</body>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

