<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/Content/styles.css">
    
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
</head>
<body>
    <main>
        <h1>Welcome to <%= title %> Page</h1>
            
        <div class="containerTwo">
            <h3>First Product</h3>
            <ul>
                <div class = "firstProject">
                    <img src="img\firstproject.png" alt="First Project" height="300" width="600" style="padding-bottom: 20px;">
                    <p style="padding-bottom: 30px;">
                        This was my very first project in the section of web development. Basically, consist in a student information web page.
                        In this page I share a little bit about myself, and my family. Also, I shared what I like to do in my free time
                    </p>
                </div>
                <div class = "secondProject">
                    <h3>Second Product</h3>
                    <img src="img\secondProject.png" alt="First Project" height="300" width="600" style="padding-bottom: 20px;">                    
                    <p>
                        I was assigned to this project with the purpose to design the webpage for a real state agent. In the webpage the customer
                        is able to listed available house to the market. The people who is interested in the houses could see a bried description
                        of the property together with more specific details about the building. 
        
                        Each time that I see this project, I feel very proud for my improvement on the desing of web pages
                    </p>
                </div>
                <div class = "thirdProject">
                    <h3>Third Product</h3>
                    <img src="img\Logo_.png" alt="First Project" height="450" width="600" style="padding-bottom: 20px;">                           <p>
                        This is a current project that I am developing. This idea of this project is create a webpage to shared infoirmation with users
                        about the history of my favorite soccer club. Along this webpage you will be able to see important informtion of FC Barcelona such
                        as, the history of the club, the current team and staff, honours along the years, even you will be able to play some entertaiment 
                        games that were developed in the previous semester.
                    </p>
                </div>
            </ul>
            </div>
        </main>
</body>
</html>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   