<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h3>Personal Projetcs</h3>
    <ul>
        </li><a href  = "file:///C:/Users/Yefri%20Paredes/Desktop/Andres%20Paredes/Centennial%20College/PROGRAM/1st%20Semester/WID/Assignment%20%231/index.html__StudentWeb.html" target="_blank">My first Page</a></li><br>
        </li><a href  = "file:///C:/Users/Yefri%20Paredes/Desktop/Andres%20Paredes/Centennial%20College/PROGRAM/1st%20Semester/WID/Individual%20Project/homepage.html" target="_blank">Real State Page</a></li><br>
        </li><a href  = "file:///C:/Users/Yefri%20Paredes/Desktop/Andres%20Paredes/Centennial%20College/PROGRAM/Personal%20Projects%20Folder/FC%20_Barcelona_Project/Home%20Page/Homepage.html" target="_blank">FC Barcelona</a></li><br>
    </ul>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   